// Font fam
$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// Font size
$primary-font: 50px;
$secondary-font: 20px;

// Color
$primary-color: #34495e;
// $primary-color: #e0ffff;
$secondary-color: #ff8700;
$third-color:  #0984e3;
$light-color: #F4F4F4;

// Set text color based on bg
@function set-text-color($color) {
   @if(lightness($color) > 70) {
      @return #333;
   } @else {
      @return #fff;
   }
}

// Set background and text color
@mixin set-background($color) {
   background-color: $color;
   color: set-text-color($color);
}